{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block about %}
    <h1 class="text-white">About this site</h1>
    <div class="container bg-light rounded-3">
    <body class="sticky" style="background-attachment:fixed;background-color:rgb(163, 161, 161);background-image: url(https://static.vecteezy.com/system/resources/previews/000/200/589/original/vector-retro-pattern-background.jpg);" >
	<p>This site was made initally as a project to familiarize myself with the web framework Django, and to publicly make available a program I had written to find the most likely lottery combinations. It is <b>NOT</b> in affiliation with the West Virginia State Lottery although they are listed above to help confirm winning numbers.</p>
        <p>It began when two close friends of mine piqued my interest with their own ways to win the jackpot. One who thought it was all in location, and another who simply pulled numbers from his dreams and meditation (some winning +$10,000!)</p>
        <p>Although I do not claim to have a universal link or the secret to winning numbers, my goal is to give the best edge available using statistical and historical analysis on the lottery.</p>
        <p>The site is still in development and I am working on adding more features and improving the site's functionality. Currently everything is in working order and the numbers will be refreshed momentarily after new ones are called, but if there is a specific feature not available that you would like to request, be my guest!</p>
	<p>I have created a cleaned and stripped down version of the scripts involved and they are hosted <a href="https://www.github.com/lottopy/wvlottopy">here.</a> I encourage anyone interested to port it to their own local lotteries.</p>
        <p>Winners using numbers from this site will be featured on a new "Winners" page if consenting. If you have any suggestions or comments, please feel free to contact me at <u style="color:blue">admin at wvlotterypredictor dot xyz</u> and please keep in mind this site is funded by the donations of those who support it, so any financial assistance is greatly appreciated.</p>
        <p>For updates subscribe to the mailing list at the bottom of this page (I will not disclose or abuse your personal information) or follow me on the twitter linked in the navigation bar. Thank you for visiting!</p>
        <h2><i class="fa-solid fa-wallet"></i>Crypto Addresses</h2>
        <p style="display:inline-block;"><i class="fa-brands fa-ethereum" style="padding:2px;"></i>
            ETH - 0xE94dcBf3C25f268b947ab30ef941d87ef213Af22</p>
        <p style="display:inline-block;"><i class="fa-brands fa-bitcoin" style="padding:2px;"></i>
            BTC - bc1qx90pdxcaycssmpee3xq9ujffzq3dxsfkknvdyk</p>
        <!-- <p style="display:inline-block;"><i class="fa-solid fa-litecoin-sign" style="padding:2px;"></i> -->
            <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="V9RPR9Z5R2K74" />
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="To help as many people win the lottery as possible" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>
        <hr>
    </body>
            {% for message in messages %}
            <div class='alert alert-success'>
                {{ message }}
            </div>
	    {% endfor %}
            <h5>Subscribe to Newsletter</h5>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info btn-block" type="submit" value="Submit">
            </form>
        </div>
{% endblock about %}
