{% extends 'lottopy/base.html' %}
{% block content %}
    <h1>Find your lucky numbers and hit big!</h1>
    <p class="lead">The purpose of this site is to analyze existing West Virginia winning lottery numbers, and return only the most likely combinations. This can be used to gain an edge on the lottery system, and help you win big!</p>
    <section class="py-5 border-top" id="features">
        <div class="container px-5 my-5">
            <content class="row gx-5 ">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i>
                    <h2 class="col-auto" width=200>PowerBall</h2>
                    <p>{{ pbnumbers|linebreaks }}</p>
                    <a>
                        Draws every Monday, Wednesday, and Saturday at 11:00 PM {# Last draw: {{ pb_date }} #}
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i>
                    <h2 class="col-auto" width=200>Mega Millions</h2>
                    <p>{{ mmnumbers|linebreaks  }}</p>
                    <a>
                        Draws every Tuesday and Friday night at 10:59 PM {# Last draw: {{ mm_date }} #}
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i>
                    <h2 class="col-auto" width=200>Lotto America</h2>
                    <p>{{ lanumbers|linebreaks  }}</p>
                    <a>
                        Draws every Wednesday and Saturday night at 10:30 PM {# Last draw: {{ la_date }} #}
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i>
                    <h2 class="col-auto" width=200>Daily3</h2>
                    <p>{{ d3numbers|linebreaks  }}</p>
                    <a>
                        Draws every weekday but Sunday at 6:59 PM {# Last draw: {{ d3_date }} #}
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i>
                    <h2 class="col-auto" width=200>Daily4</h2>
                    <p>{{ d4numbers|linebreaks  }}</p>
                    <a>
                        Draws every weekday but Sunday at 6:59 PM {# Last draw: {{ d4_date }} #}
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i>
                    <h2 class="col-auto" width=200>Cash25</h2>
                    <p>{{ c25numbers|linebreaks  }}</p>
                    <a>
                        Draws every weekday but Sunday at 6:59 PM {# Last draw: {{ c25_date }} #}
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0" style="margin:auto">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i>
                    <h2 class="col-auto mf-box" width=200>Cash Pop coming soon!</h2>
                    <p>Cash Pop is a new game from the WV lottery, if anyone would like to send support to get it done faster check the About page for more info on how to help!</p>
                </div>
                </div>
            </content>
        </div>
    </section>
    <h6 class="card-footer" text-align=bottom>Disclaimer: WV Lottopy developers do not guarantee a win on the first or even the fortieth set of numbers. This is used to gain an <b><i>edge </i></b> over those who do not use this program.</h6>
{% endblock content %}